<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <httpProtocol>
      <customHeaders>
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="AllowSpecificFolder" stopProcessing="true">
          <match url="^axpert/.*\.(xml|txt|json)$" />
          <action type="None" />
        </rule>
        <rule name="BlockAllOthers" stopProcessing="true">
          <match url=".*\.(xml|txt|json)$" />
          <action type="AbortRequest" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>