<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <handlers accessPolicy="Read, Execute, Script" />
    <staticContent>
      <mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook" />
      <mimeMap fileExtension=".dxf" mimeType="application/dxf" />
      <mimeMap fileExtension=".ifc" mimeType="application/x-step" />
    </staticContent>
  </system.webServer>
</configuration>